<!DOCTYPE html>
<html>
<head>

</head>

<body>

<h1>Graduate Council Travel Fund Basic Application Review</h1>

<form method="POST">
    <fieldset>
        Reviewer First Name:<br>
        <input type="text" name="reviewer-firstname"><br><br>
        Reviewer Last Name:<br>
        <input type="text" name="reviewer-lastname"><br><br>
        Reviewer Email:<br>
        <input type="text" name="reviewer-email"><br><br>
    </fieldset>

    <fieldset>
        Applicant First Name:<br>
        {{first_name}}<br><br>
        Applicant Last Name:<br>
        {{last_name}}<br><br>
        Applicant Email Address:<br>
        {{email}}<br><br>
        Division:<br>
        {{division}}<br><br>
        Group Size:<br>
        {{group_size}}<br><br>
        Travel Start Date:<br>
        {{travel_start}}<br><br>
        Travel End Date:<br>
        {{travel_end}}<br><br>
        Event Name:<br>
        {{event_name}}<br><br>
        Faculty Contact:<br>
        {{faculty_name}}<br><br>
        Faculty Email:<br>
        {{faculty_email}}
    </fieldset>

    {% for prompt in prompts %}
        <fieldset>
            <p>{{prompt.text}}</p>
            {% for response in responses if response.prompt.prompt_id == prompt.prompt_id %}
            <p>{{response.text}}</p>
            {% endfor %}
            {% for question in questions if question.prompt.prompt_id == prompt.prompt_id %}
                <p>{{question.text}}</p>
                <select name="{{question.slug + question.prompt.prompt_id|string}}">
                    <option value="">  </option>
                    <option value="5"> 5 </option>
                    <option value="4"> 4 </option>
                    <option value="3"> 3 </option>
                    <option value="2"> 2 </option>
                    <option value="1"> 1 </option>
                </select><br><br>
            {% endfor %}
        </fieldset>
    {% endfor %}

    <fieldset>
        <p>
            Overall Strength of Application: 
            Please take a moment to decide the overall strength of the application and whether you feel the student has appropriate need for funding. 
            Consider, e.g. if the PI can provide funding if the student does not receive this award, if the cost of the conference and its location are reasonable, and especially if the student will need to pay out of pocket for travel. 
            An applicant with extreme need (4-5) may be a senior student who would have no choice but to pay the cost of attending a US conference out of their own pocket, whereas a low-need (1-2) applicant may be a third-year whose PI can, but doesn’t want to, pay for the student to attend a conference in Portugal.
        </p>

        <select name="merit-funding">
            <option value="">  </option>
            <option value="5"> 5 </option>
            <option value="4"> 4 </option>
            <option value="3"> 3 </option>
            <option value="2"> 2 </option>
            <option value="1"> 1 </option>
        </select><br><br>

        Reviewer overall comments and concerns on application:<br>
        <textarea rows="8" cols="100" name="overall-comments"></textarea>
    </fieldset>

    <input type="submit" value="Submit">
</form>

</body>
<script>

</script>

</html>