<!DOCTYPE html>
<html>
<head>

</head>

<body>

<p>To get to a review, you need the uuid. You can get this by exploring the db, e.g. with "db browser for SQLite"</p>
<p>When you have the uuid, go to the following url (after replacing the relevant info)</p>
<p>http://127.0.0.1:5000/review/[APP_TYPE]/[UUID]/[REVIEW NUMBER]</p>
<p>app type should be either 'basic' or 'advanced'</p>
<p>review number can just be '1' (this is for tracking the number of reviews on an application later)</p>

</body>
<script>

</script>

</html>